# Ignore build output
target/
build/

# Ignore git folder
.git/
.gitignore

# Ignore environment config files
.env
.env.example

# Ignore local wrapper files
mvnw
mvnw.cmd
.mvn/

# Ignore IDE files and settings
.idea/
.vscode/
*.iml
*.ipr
*.iws
.settings/
.project
.classpath
.factorypath
bin/
